// Specific CSS for your home-page
.container {
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.landing-photo {
  width: 80%;
  height: 90vh;
  object-fit: cover;
  padding: 0 auto;
}

.btn-blue {
  text-decoration: none;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: #3069e0;
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  transition: 0.3s;
}

.btn-blue:hover {
  background: #3572ea;
  color: white;
}

.value-proposition {
  position: absolute;
  bottom: 56px;
  right: 80px;
  background-color: rgb(255,255,255);
  padding: 24px 40px;
  border: 1px solid rgb(240,240,240);
  border-radius: 2px;
  // box-shadow: 1px 1px 2px rgb(220,220,220);
} h2 {
  font-weight: bolder;
}
