<div class="container">
  <%= image_tag('landing-photo.jpg', class: "landing-photo") %>
</div>
<div class="value-proposition">
  <h2>Stay home.</h2>
  <h2>Someone will shop for you.</h2>
  <br>
  <%= link_to "Post your shopping list", new_shopping_list_path, class: "btn-blue" %>
</div>
