<div class="container d-flex justify-content-center align-items-center">
  <%= image_tag('landing_page_photo.jpg') %>
    <div class="value-proposition px-4">
    <h2>Stay home.</h2>
    <h2>Someone will shop for you.</h2>
    <br>
    <%= link_to "Post your shopping list", new_shopping_list_path, class: "btn-blue" %>
  </div>
</div>
