Your Shopping Lists Orders:

<% @orders.each do |o| %>
<p>
  <p><%=  o.user.first_name %></p>
  <p><%=  o.user.location %></p>
  <p>Total items in the shopping list: <%=  o.items.count %></p>
</p>
<% end %>
