
.card {
	margin-bottom: 16px;
}

.card-big {
  overflow: hidden;
  height: 500px;
  width: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  position: relative;
  left: 40%;
}

.card-btn {
  position: absolute;
  left: 40%;
}


.card-bottom {
  display: flex;
  justify-content: space-between;
}


.card-click:hover {
   text-decoration: none;
}


// a:link {
//   text-decoration: none;
// }
// a:visited {
//   text-decoration: none;
// }
// a:hover {
//   text-decoration: underline;
// }
// a:active {
//   text-decoration: underline;
// }

