.navbar-lewagon {
  align-items: center;
  justify-content: space-between;
  background: black;
}
.navbar-nav .nav-link {
  color: white !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 170px;
  height: 40px;
}

.nav-item {
  padding-top: 15px;
}
.border-driver {
  color: white;
  border: 2px solid #D6019E;
  padding: 4px 8px;
  border-radius: 4px;
  transition: 200ms;

  &:hover {
    color: white;
    background: #2780F5;
    text-decoration: none;
    border: 2px solid #2780F5;

  }
}

#navbarDropdown{
  color: white;
  margin-right: 12px;
  margin-left: 12px;
}

.nav-link {
  color: rgb(220,220,220) !important;
}
.nav-link:hover {
  color: white !important;
}
